// @[Breakpoints]
// Screen Width
$bp-xs: 0;
$bp-sm: 768px;
$bp-md: 1024px;
$bp-lg: 1280px;
$bp-xlg: 1440px;

// Container Width
$ct-xs: 100%;
$ct-sm: 100%;
$ct-md: 994px;
$ct-lg: 1024px;
$ct-xlg: 1264px;

