// @[Color Palette]
// Default Colors
$white:                             #FFFFFF;
$white-70:                          #FFFFFFB2;

// Main Colors
$midnight:                          #1C1A33;
$purple:                            #6374FF;
$orange:                            #FF955A;

// additional
$red:                               #F22133;
$green:                             #32BF84;

// ----------------- Main ----------------- //

// Main palets for purple
$purple-100:                        #E0E3FF;
$purple-200:                        #C1C7FF;
$purple-350:                        #BFC5F5;
$purple-300:                        #A1ACFF;
$purple-400:                        #8290FF;

// Main palets for orange
$orange-100:                        #FFEADE;
$orange-200:                        #FFD5BD;
$orange-300:                        #FFBF9C;
$orange-350:                        #FFB987;
$orange-400:                        #FFAA7B;


// Main palets for midnight
$midnight-100:                     #D2D1D6;
$midnight-200:                     #AEACBB;
$midnight-300:                     #A4A3AD;
$midnight-400:                     #777685;
$midnight-500:                     #504D6A;
$midnight-600:                     #49485C;

// Main usable palets for gray
$gray-200:                          #E5E5E8;
$gray-300:                          #EAEAEF;
$gray-400:                          #EFEFF1;
$gray-500:                          #D9D9D9;

// ---------------------------------------- //

// Gray Shades
$gray-100:                          #FFFFFF;
$gray-250:                          #F4F7FA;
// $gray-300:                          #F7F7FF;
$gray-450:                          #D0DAE4;
$gray-470:                          #C5D3E0;
$gray-600:                          #6D8297;
$gray-700:                          #3C4151;
$gray-800:                          #2A2E3B;

// Secondary Colors
$bone:                              #E7DBC8;
$beige:                             #F6F0E6;
$beige-dark:                        #E7DBC8;
$corn:                              #F8DE7E;
$banana:                            #FCEBAD;
$barley-white:                      #FFF3C9;
$green-light:                       #CBF1E4;
$red-light:                         #FFE6E6;

// additional ones
$purple-50:                         #F5F7FF;
$purple-450:                        #3E48B7;
$purple-500:                        #2637B5;
$purple-600:                        #1D2A8B;
$purple-700:                        #141D61;
$orange-50:                         #FFF7F5;
$orange-150:                        #FFD8CF;
$orange-500:                        #FA2E00;
$orange-600:                        #C72400;
$orange-700:                        #941B00;

// Brand Colors
$paypal:                            #FFC700;

//green 
$green-light:                       #C3E1E1