$shadow-level-1:                     2px 4px 15px rgba(171, 189, 207, 0.25);
$shadow-level-2:                     4px 4px 15px rgba(110, 118, 181, 0.1);
$shadow-level-3:                     4px 4px 15px rgba(20, 29, 97, 0.3);
$shadow-level-4:                     0px 6px 25px rgba(173, 187, 201, 0.16);
$shadow-level-4__temp:               0px 6px 25px rgba(173, 187, 201, 0.75);
$shadow-form:                        0px 7px 29px rgba(28, 26, 51, 0.04);
