// @[Typography]
// Titles
$h1-fz:                              58px;
$h1-lh:                              64px;
$h1-ls:                              unset;
$h1-fw:                              700;

$h2-fz:                              48px;
$h2-lh:                              53px;
$h2-ls:                              unset;
$h2-fw:                              700;

$h3-fz:                              36px;
$h3-lh:                              40px;
$h3-ls:                              unset;
$h3-fw:                              700;

$h4-fz:                              30px;
$h4-lh:                              36px;
$h4-ls:                              unset;
$h4-fw:                              600;

$h5-fz:                              24px;
$h5-lh:                              29px;
$h5-ls:                              unset;
$h5-fw:                              600;

$h6-fz:                              21px;
$h6-lh:                              25px;
$h6-ls:                              unset;
$h6-fw:                              700;

$h7-fz:                              18px;
$h7-lh:                              30px;
$h7-ls:                              unset;
$h7-fw:                              700;

$h8-fz:                              16px;
$h8-lh:                              26px;
$h8-ls:                              unset;
$h8-fw:                              700;

$h9-fz:                              14px;
$h9-lh:                              24px;
$h9-ls:                              unset;
$h9-fw:                              700;

$h-mb:                               16px;

// Texts
$text-lg-fz:                         20px;
$text-lg-ls:                         unset;
$text-lg-lh:                         27px;

$text-md-fz:                         18px;
$text-md-ls:                         unset;
$text-md-lh:                         24px;

$text-sm-fz:                         16px;
$text-sm-ls:                         unset;
$text-sm-lh:                         21px;

$text-xs-fz:                         14px;
$text-xs-ls:                         unset;
$text-xs-lh:                         18px;

$text-xxs-fz:                         12px;
$text-xxs-ls:                         unset;
$text-xxs-lh:                         15px;

$p-mb:                               16px;
