.who-we-are-heading {
  @media (max-width: $screen-mobile-size) {
    @include heading-types($h3-fz, $h3-lh, $h3-ls, $h3-fw);
  }
}

.co-fonder-section {
  background-color: #f9f9ff;
}

.co-founders-pitch {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    background-image: url("../../public/assets/images/png/double_quote.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 101px;
    height: 101px;
    left: -42px;
    top: -10px;
    z-index: -1;
  }
}
