/* Global */
.main_title {
  color: $midnight;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
}

/* */

.search-input-wrapper {
  margin-top: 30px;
}

.search-input,.subscribe-form {
  width: 622px;
  position: relative;
  input {
    width: 100%;
    padding-right: 58px;
    padding-left: 10px;
    border-radius: 15px;
    &::placeholder {
      color: #B6B6B6;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .search-input-icon {
    position: absolute;
    align-items: center;
    top: 4px;
    right: 4px;
    background-color: #EFEFF1;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
  }

  .subscribe-form-button-container {
    position: absolute;
    align-items: center;
    top: 4px;
    right: 4px;
    background-color: #EFEFF1;
    width: 146px;
    height: 46px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    .subscribe-form-button {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.subscribe-form {
  width: 526px;
  margin: 0 auto;
}


/* POPULAR ARTICLES */

.popular-articles-section {
  max-width: 1237px;
  margin: 0 auto;
  .article-categories {
    ul {
      padding: 0;
      border-bottom: 1px solid #E6E6E9;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          padding: 10px;
          color: #898895;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 110%;
          &.active {
            color: #1C1A33;
            font-weight: 700;
            position: relative;
            &::before {
              content: '';
              height: 4px;
              width: 80%;
              background: #6374FF;
              position: absolute;
              border-radius: 23px;
              bottom: -2px;
            }
          }
        }
      }
    }
  }
  .main-block {
    padding-right: 40px;
  }
}

/* POST ITEM */

.post-item {
  .post-content {
    .cat {
      a {
        color: #1C1A33;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        padding: 2px 10px;
        border-radius: 5px;
        border: 1px solid #E6E6E9;
        text-transform: uppercase;
      }
    }

    .post-title {
      margin-top: 8px;
      h3 {
        color: #1C1A33;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 26.4px */
      }
    }

    .post-excerpt {
      margin-top: 20px;
      color: rgba(28, 26, 51, 0.90);
      font-family: Public Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 132%; /* 21.12px */
      letter-spacing: 0.16px;
    }

    .post-footer {
      margin-top: 8px;
      div {
        color: #898895;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      .date {
        margin-right: 28px;
      }
    }
  }

  .post-image-block {
    padding-left: 18px;
    display: flex;

    .img {
      height: 179px;
      width: 100%;
      overflow: hidden;
      display: flex;
      border-radius: 20px;

      img {
        display: flex;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &.small {
    margin-bottom: 38px;
  }
  &.big {
    flex-direction: column-reverse;
    .post-content {
      width: 100%;
      .post-footer {
        margin-top: 18px;
      }
    }
    .post-image-block {
      width: 100%;
      padding-left: 0;
      padding-bottom: 22px;

      .img {
        height: 398px;
      }
    }
  }
  &.medium {
    flex-direction: column-reverse;
    place-self: flex-start;
    flex-wrap: wrap;
    margin-bottom: 37px;
    .post-content {
      width: 100%;
      .post-footer {
        margin-top: 18px;
      }
    }
    .post-image-block {
      width: 100%;
      padding-left: 0;
      padding-bottom: 22px;

      .img {
        height: 232px;
      }
    }
  }
}

/* LATEST ARTICLES */

.latest-articles-section {
  max-width: 1237px;
  margin: 76px auto;
  border-top: 1px solid #E6E6E9;
  padding-top: 27px;

  .posts-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .post-item {
      width: 32%;
    }
  }

  .load-more-block {
    margin-top: 70px;
    justify-content: center;
    display: flex;

    button {
      margin: 0 auto;
    }
  }
}

/* SUBSCRIBE */

.get-interesting-staff-section {
  background-image: url("../../public/assets/images/png/get_interesting_staff.png");
  background-size: cover;
  box-shadow: 0px 6px 19px rgba(0, 0, 0, 0.05);
  max-width: 1237px;
  margin: 70px auto 80px;
  height: 308px;
  border-radius: 20px;


  .block-image {
    display: flex;
    flex-direction: column;
    &.subscribe {
      padding-top: 64px;
      padding-left: 104px;
      width: 25%;

      .icon {
        width: 28px;
        height: 28px;
        margin-left: 50%;
        margin-bottom: 30px;
      }
    }

    &.subscribe-staff {
      width: 25%;
      padding-top: 64px;
      padding-left: 104px;

      .icon {
        width: 18px;
        height: 18px;
        margin-top: 12px;
      }
    }

    img {
      display: block;

      &.main {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .block-content {
    width: 50%;
  }
}

@media (max-width: $screen-md-desktop-size) {//1320
  .popular-articles-section,.latest-articles-section,.get-interesting-staff-section {
    max-width: 1300px;
    width: 96%;
  }

  .post-item.big .post-image-block .img {
    height: 328px;
  }

  .post-item.medium .post-image-block .img {
    height: 204px;
  }

  .get-interesting-staff-section {
    .block-image {
      //&.subscribe {
      //  width: 20%;
      //  padding-left: 64px;
      //}
      &.subscribe-staff {
        //width: 20%;
        //padding-left: 32px;
        padding-right: 22px;
      }
    }

    .block-content {
      h4 {
        font-size: 24px;
        margin-bottom: 34px !important;
        text-align: center;
      }
      width: 60%;
    }
  }
}

@media (max-width: $screen-sm-desktop-size) {//1024
  .popular-articles-section,.latest-articles-section,.get-interesting-staff-section {
    max-width: 1000px;
    width: 96%;
  }

  .post-item.big .post-image-block .img {
    height: 236px;
  }

  .post-item .post-image-block .img {
    height: 128px;
  }

  .get-interesting-staff-section {
    background-size: 170%;
    background-position: bottom;
    background-repeat: no-repeat;
    .block-image {
      display: none;
    }

    .block-content {
      width: 80%;
      margin: 0 auto;

      h4 {
        font-size: 24px;
        margin-bottom: 34px !important;
        text-align: center;
      }
    }
  }
}

@media (max-width: $screen-tablet-size-2) {//768
  .search-section {
      padding-bottom: 70px !important;
      padding: 10px;
    > div.text-center {
      margin-bottom: 0 !important;
    }
  }

  .popular-articles-section {
    max-width: 768px;
    width: 100%;
    padding: 0 30px;
    padding-bottom: 0 !important;
    margin-bottom: 4px !important;

    .article-categories ul li.category-item {
      margin-right: 38px;
    }

    .main_title {
      margin-top: 40px;
      margin-bottom: 35px;
    }

    .main-block {
      width: 81.6% !important;
      max-width: 578px;

      .post-image-block .img {
        height: 398px;
      }
    }

    .posts-block {
      margin-top: 30px;
      width: 100% !important;

      .post-item {
        width: 84%;

        .post-image-block {
          .img {
            height: 178px;
          }
        }

        .post-content {
          .post-title {
            h3 {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }

  .latest-articles-section {
    max-width: 768px;
    width: calc(100% - 60px);
    padding: 30px 0;
    margin: 0 auto !important;

    .main-title {
      margin-bottom: 30px;
    }

    .posts-block {
      padding-top: 14px;
      justify-content: space-between;

      .post-item {
        width: 48.5%;
      }
    }

    .load-more-block {
      margin-top: 28px;

      .btn {
        border-radius: 7px;
      }
    }
  }

  .get-interesting-staff-section {
    margin-top: 20px;
    height: 254px;

    .block-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .block-content-container {
        h4 {
          font-size: 30px;
        }

        .subscribe-form input {
          border-radius: 12px;
          font-size: 14px;
          padding-left: 24px;
          &::placeholder {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-tablet-size-small) { //568
  .popular-articles-section {
    .article-categories {
      ul li.category-item {
        margin-right: 0px;

        a {
          font-size: 12px;
        }
      }
    }

    .main_title {
      margin-top: 24px;
      margin-bottom: 20px;
    }

    .main-block {
      width: 100% !important;
      max-width: 568px;
      padding-right: 0;
    }

    .posts-block .post-item {
      width: 100%;

      .post-image-block .img {
        height: 146px;
      }
    }
  }

  .latest-articles-section {
    .post-item.medium .post-image-block .img {
      height: 146px;
    }
  }

  .get-interesting-staff-section {
    .subscribe-form {
      max-width: 526px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media (max-width: $screen-mobile-size) {//440

  main {
    .search-section {
      padding: 16px;
    }

    .popular-articles-section {
      max-width: 420px;
      width: 100%;
      padding: 0 16px;

      .article-categories ul li.category-item a {
        font-size: 14px;
      }

      h3.main_title {
        text-align: center;
      }
      .main-block {
        margin-bottom: 20px;

        .post-item {
          .post-image-block .img {
            height: 236px;
          }
        }
      }

      .posts-block {
        .post-item {
          flex-wrap: wrap;
          flex-direction: column-reverse;
          margin-bottom: 20px;

          .post-image-block {
            width: 100% !important;
            padding-left: 0;
            padding-left: 0;
            padding-bottom: 22px;

            .img {
              height: 236px;
            }
          }

          .post-content {
            width: 100% !important;
          }
        }
      }
    }

    .latest-articles-section {
      h3.main_title {
        text-align: center;
      }
      .posts-block {
        .post-item {
          margin-bottom: 32px;
          width: 100% !important;

          .post-image-block {
            width: 100% !important;
            padding-left: 0;
            padding-bottom: 22px;

            .img {
              height: 236px;
            }
          }

          .post-content {
            width: 100% !important;
          }
        }
      }
    }

    .get-interesting-staff-section {
      background: none !important;
      box-shadow: none !important;
      height: auto;
    }
  }
}

@media (max-width: $screen-mobile-size-2) { //375
  .post-item .post-image-block .img {
    border-radius: 15px !important;
    height: 208px !important;
  }

  main .posts-block .post-item {
    margin-bottom: 30px !important;
  }

  main .posts-block .post-item .post-image-block {
    padding-bottom: 15px !important;
  }

  .search-section {
    padding-bottom: 30px !important;

    .search-input-wrapper {
      .search-input {
        height: 48px;

        input {
          border-radius: 10px;
          font-size: 14px;

          &::placeholder {
            font-size: 14px;
          }
        }

        .search-input-icon {
          border-radius: 10px;
          top: 3px;
          right: 3px;
          width: 43px;
          height: 42px;
        }
      }
    }
  }

  .popular-articles-section {
    .article-categories {
      ul li.category-item {
        margin-right: 10px;

        a {
          font-size: 14px;
          word-break: break-all;
        }
      }
    }

    .main_title {
      margin-top: 40px;
      margin-bottom: 30px;
    }

    .main-block {
      margin-bottom: 20px;

      .post-item {
        .post-image-block {
          padding-bottom: 15px;

          .img {
            height: 236px !important;
            border-radius: 15px;
          }
        }
      }
    }
  }

  .latest-articles-section {
    max-width: 375px;
    width: calc(100% - 32px);
    padding: 30px 0;
    margin: 0 auto !important;
  }

  .get-interesting-staff-section {
    margin: 0;
    height: auto;
    margin-bottom: 70px;

    .subscribe-form {
      height: 48px;
      input {
        padding-left: 16px;
      }
      .subscribe-form-button-container {
        border-radius: 7px;
        top: 3px;
        right: 3px;
        width: 124px;
        height: 42px;
      }
    }
  }
}