.navbar-toggler {
  border: none;
  padding: 0 8px;
  &:focus  {
    box-shadow: none;
  }
}

.nav-link {
  color: $midnight;
  font-size: 15px;
  margin-right: 1.6rem;
  width: fit-content;
  margin-right: calc(50px - ((1440px - 100vw) * 78 / 1065));
}

.header {

  @media (min-width: $screen-tablet-size) {
    padding-left: calc(100px - ((1440px - 100vw) * 78 / 1065));
    padding-right: calc(100px - ((1440px - 100vw) * 87 / 1065));
  }
  @media (min-width: 370px) and (max-width: $screen-tablet-size) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 370px) {
    padding-left: 0;
    padding-right: 0;
  }
}
